body {
	color:white;
	background-color:#1a1a1a;
	text-align:center
}
a:link {
	color:white;
	background-color:transparent;
	text-decoration:none;
}
a:visited{
	color:white;
	background-color:transparent;
	text-decoration:none;
}
img.linkIcon{
	max-width: 120px;
	height: auto;
	border=0px;
}

/*HTML5 new element support*/
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
